<script type="text/x-handlebars-template" id="template-answer">
    <li id="{{id}}" class="lcb-answer {{#if mentioned}}lcb-answer-mentioned{{/if}}">
        <div class="lcb-message-text">
            {{message.text}}
        </div>
        <div class="lcb-answer-text">
            <pre><p class="answer-text-main">{{text}}</p></pre>
        </div>
        {{#if answerAuthorization}}
        <div class="answer-actions">
            <i type="button" data-id="{{id}}" data-message="{{message.id}}" data-room="{{room}}" class="fa fa-pencil-square-o answer-edit-button" data-toggle="modal" data-target="#lcb-write-answer" data-edit="true" title="Edit Answer" />
            <i type="button" data-id="{{id}}" data-message="{{message.id}}" class="fa fa-times-circle answer-delete-button" title="Delete Answer" />
        </div>
        {{/if}}
    </li>
</script>
