<script type="text/x-handlebars-template" id="template-message">
    <li id="{{id}}" class="lcb-message {{#if mentioned}}lcb-message-mentioned{{/if}} {{#if own}}lcb-message-own{{/if}}" data-owner="{{owner.id}}">
        <img class="lcb-message-avatar lcb-avatar lcb-room-poke" src="{{owner.image}}" />
        {{#if owner.verified }}
            <span class="message-avatar-verified"><i class="fa fa-check-circle" /></span>
        {{/if}}
        <div class="lcb-message-meta">
                <span class="lcb-message-name">
                    <span class="lcb-room-poke">
                        <span class="lcb-message-displayname">
                            {{owner.displayName}}
                        </span>
                        <span class="lcb-message-username">
                            @{{owner.username}}
                        </span>
                    </span>
                </span>
                <time class="lcb-message-time" title="{{posted}}"></time>
            <div class="lcb-message-text">
                <p>{{text}}</p>
            </div>
            {{#if answerAuthorization}}
            <div class="message-actions">
                <button type="button" data-id="{{id}}" data-room="{{room.id}}" class="button answer-button" data-toggle="modal" data-target="#lcb-write-answer" title="Write answer" {{bind-attr disabled=answered}}>Answer</button>
            </div>
            {{/if}}
        </div>
    </li>
</script>
