<script type="text/x-handlebars-template" id="template-room">
    <div class="lcb-room lcb-pane lcb-pane-{{id}} {{#if sidebar}}lcb-room-sidebar-opened{{/if}} hide" data-id="{{id}}">
        <div class="lcb-room-chat ">
            <div class="lcb-room-header">
              <button type="button" class="lcb-room-heading btn lcb-header-toggle">
                  <i class="fa fa-bars" aria-label="<$ __('Toggle Navigation') $>"></i>
              </button>
                <div class="lcb-room-meta">
                    <h2 class="lcb-room-heading room-heading-avatar">
                    <img class="avatar-frame lcb-avatar room-owner-avatar" src="https://www.gravatar.com/avatar/{{ownerAvatar}}?s=100" />
                    {{#if verifiedOwner }}
                        <div class="room-avatar-verified"><i class="fa fa-check-circle blue-tick" /></div>
                    {{/if}}
                    </h2>
                    <h2 class="room-heading-name">
                        <span class="name">{{name}}</span>
                        {{#if iCanEdit}}
                            <a class="btn btn-action hidden-xs show-edit-room"
                                title="<$ __('Edit Room') $>" aria-label="<$ __('Edit Room') $>">
                                <i class="fa fa-edit room-edit-icon"></i>
                            </a>
                        {{/if}}
                        {{#if hasPassword}}
                            <span class="fa fa-lock btn password" title="<$ __('This room requires password to enter') $>" aria-label="<$ __('This room requires password to enter') $>"></span>
                        {{/if}}
                        <% if settings.giphy.enable %>
                            <a class="btn hidden-xs lcb-giphy" href="#lcb-giphy" title="<$ __('Giphy') $>" aria-label="<$ __('Giphy') $>" data-toggle="modal">
                                <i class="fa fa-gift"></i>
                            </a>
                        <% endif %>
                    </h2>
                    <div class="lcb-room-description">
                        <p>{{description}}</p>
                    </div>
                    <div class="room-social-share"></div>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active questions-tab">
                            <a href="#questions" aria-controls="questions" data-toggle="pill" role="pill"><$ __('Questions') $></a>
                        </li>
                        <li role="presentation" class="answers-tab">
                            <a href="#answers" aria-controls="answers" data-toggle="pill" role="pill"><$ __('Answers') $></a>
                        </li>
                    </ul>
                </div>
                <div class="lcb-room-header-actions">
                    <a class="lcb-room-toggle-sidebar" href="#">
                        <i class="fa fa-chevron-left" aria-label="<$ __('Toggle Sidebar') $>"></i>
                    </a>
                </div>
            </div><!-- lcb-room-header end -->
            <div id="qa-tab-content" class="tab-content">
                <ul class="lcb-messages tab-pane in active" role="tabpanel" aria-live="polite" id="questions"></ul>
                <ul class="lcb-answers tab-pane" role="tabpanel" aria-live="polite" id="answers"></ul>
            </div>
            <form class="lcb-entry">
                <textarea class="lcb-entry-input" placeholder="<$ __('Got something to say?') $>" autofocus></textarea>
            </form>
        </div><!-- lcb-chat end -->
        <div class="lcb-room-sidebar">
            <div class="lcb-room-sidebar-group lcb-room-sidebar-users">
                <header class="lcb-room-sidebar-header">
                    <h3 class="lcb-room-sidebar-heading">
                        <i class="fa fa-users"></i> <$ __('Who\'s Here') $> (<span class="lcb-room-sidebar-items-count"></span>)
                    </h3>
                </header>
                <ul class="lcb-room-sidebar-list"></ul>
            </div>
            <% if settings.files.enable %>
            <div class="lcb-room-sidebar-group lcb-room-sidebar-files">
                <header class="lcb-room-sidebar-header">
                    <h3 class="lcb-room-sidebar-heading">
                        <i class="fa fa-file-text"></i> <$ __('Files') $>
                    </h3>
                    <button class="btn lcb-room-sidebar-files-add lcb-upload-trigger">
                        <i class="fa fa-plus" aria-label="<$ __('Upload Files') $>"></i>
                    </button>
                </header>
                <ul class="lcb-room-sidebar-list"></ul>
            </div>
            <% endif %>
        </div><!-- lcb-room-sidebar end -->
        <div class="edit-room modal fade lcb-room-edit">
        <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" class="validate form-horizontal" method="post">
                        <div class="modal-header">
                            <button class="close hide-edit-room" type="button">&times;</button>
                            <h4 class="modal-title"><$ __('Edit Room') $></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-6"><$ __('Name') $></label>
                                <div class="col-sm-11">
                                    <input class="required name form-control" name=
                                    "name" type="text" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=
                                "control-label col-sm-6"><$ __('Description') $></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" name=
                                    "description" rows="5">{{description}}</textarea>
                                </div>
                            </div>
                            <p class="response" style="display: none;"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info pull-right submit-edit-room" type=
                            "submit">
                                <i class="icon-ok"></i> <$ __('Save') $>
                            </button>
                        </div>
                    </form>
                </div>
        </div>
        </div>
    </div><!-- lcb-room end -->
</script>
