<div id="lcb-write-answer" class="modal fade" data-backdrop=false>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" class="lcb-write-answer">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><$ __('Write Answer') $></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label><$ __('Answer') $></label>
                        <textarea placeholder="<$ __('Answer') $>" name="answer" class="lcb-answer form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><$ __('Cancel') $></button>
                    <button type="button" class="btn btn-primary lcb-submit-answer"><$ __('Save') $></button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
