/*********************
 * Answers
 *********************/

@import 'messages.less';

.lcb-answers:extend(.lcb-messages) { }

.lcb-answer:extend(.lcb-message) {
    .lcb-message-text {
        color: #666;
        font-weight: 700;
    }
    .lcb-answer-mentioned:extend(.lcb-message .lcb-message-mentioned) { }
}

.lcb-answer-time:extend(.lcb-message-time) { }

#lcb-write-answer {
    .modal-body {
        padding: 0;
        .ql-editor {
            min-height: 350px;
        }
    }
}
#toolbar {
    border-bottom: 1px solid #E5E5E5;
}

.answer-actions{
    width: 5%;
}
.answer-actions:extend(.message-actions) {
    button:extend(.message-actions button) { }
}

.answer-delete-button {
    font-size: 150%;
    color: #b92b27;
    padding-right: 2px;
    padding-bottom: 5px;
}

.answer-edit-button {
    font-size: 150%;
    color: #2b6dad;
    padding-bottom: 5px;
    padding-right: 5px;  
}

.lcb-answer-text {
    width: 95%;
    word-wrap: break-word;
    background: #fff9e3;
    border-radius: 10px;
    margin: 5px;
}

.answer-text-main {

}

.audio-answer-record {
    background-color: #db4437;
}

.audio-answer-record {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    bottom: 24px;
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    cursor: pointer;
    height: 56px;
    position: fixed;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    right: 50%;
    width: 56px;
    z-index: 2;
}

#record-audio-answer {
    color:white;
}