/*********************
 * Answers
 *********************/

@import 'messages.less';

.lcb-answers:extend(.lcb-messages) { }

.lcb-answer:extend(.lcb-message) {
    .lcb-message-text {
        color: #666;
        font-weight: 700;
    }
    .lcb-answer-mentioned:extend(.lcb-message .lcb-message-mentioned) { }
}

.lcb-answer-time:extend(.lcb-message-time) { }

#lcb-write-answer {
    .modal-body {
        padding: 0;
        .ql-editor {
            min-height: 350px;
        }
    }
}
#toolbar {
    border-bottom: 1px solid #E5E5E5;
}
.answer-actions:extend(.message-actions) {
    button:extend(.message-actions button) { }
}

.answer-delete-button {
    font-size: 150%;
    color: #b92b27;
    padding-right: 10px;
    padding-bottom: 5px;
}

.answer-edit-button {
    font-size: 150%;
    color: #2b6dad;
    padding-bottom: 5px;
    padding-right: 5px;  
}
